### 1.Create a function that takes three arguments a, b, c and returns the sum of the numbers that are evenly divided by c from the range a, b inclusive ?
    Examples:
    evenly_divisible(1, 10, 20) ➞ 0
        # No number between 1 and 10 can be evenly divided by 20.
    evenly_divisible(1, 10, 2) ➞ 30
        # 2 + 4 + 6 + 8 + 10 = 30
    evenly_divisible(1, 10, 3) ➞ 18
        # 3 + 6 + 9 = 18

In [1]:
def evenly_divisible(a,b,c):
    divList = []
    for num in range(a,b+1):
        if num%c == 0:
            divList.append(num)
    print(f'{a,b,c} ➞ {sum(divList)}')

In [2]:
evenly_divisible(1,10,20)

(1, 10, 20) ➞ 0

In [3]:
evenly_divisible(1,10,2)

(1, 10, 2) ➞ 30

In [4]:
evenly_divisible(1,10,3)

(1, 10, 3) ➞ 18

### 2.Create a function that returns True if a given inequality expression is correct and False otherwise ?
    Examples:
    correct_signs("3 < 7 < 11") ➞ True
    correct_signs("13 > 44 > 33 > 1") ➞ False
    correct_signs("1 < 2 < 6 < 9 > 3") ➞ True

In [5]:
def correct_signs(inequality):
    return eval(inequality)

In [6]:
correct_signs("3<6<11")

True

In [7]:
correct_signs("13 > 44 > 33 > 1")

False

In [8]:
correct_signs("1 < 2 < 6 < 9 > 3")

True

### 3.Create a function that replaces all the vowels in a string with a specified character ?
    Examples:
    replace_vowels("the aardvark", "#") ➞ "th# ##rdv#rk"
    replace_vowels("minnie mouse", "?") ➞ "m?nn?? m??s?"
    replace_vowels("shakespeare", "*") ➞ "shksp**r"

In [9]:
def replace_vowels(string, spl_char):
    vowels = 'aeiouAEIOU'
    for i in vowels:
        string = string.replace(i,spl_char)
    return string

In [10]:
replace_vowels("the aardvark", "#")

'th# ##rdv#rk'

In [11]:
replace_vowels("minnie mouse", "?")

'm?nn?? m??s?'

In [13]:
replace_vowels("shakespeare", "*")

'sh*k*sp**r*'

### 4.Write a function that calculates the factorial of a number recursively ?
    Examples:
    factorial(5) ➞ 120
    factorial(3) ➞ 6
    factorial(1) ➞ 1
    factorial(0) ➞ 1

In [14]:
def factorial(n):
    if n==0:
        return 1
    return n * factorial(n-1)

In [15]:
factorial(5)

120

In [16]:
factorial(3)

6

In [17]:
factorial(1)

1

In [18]:
factorial(0)

1

### 5.Hamming distance is the number of characters that differ between two strings ?
    To illustrate:
    String1: "abcbba"
    String2: "abcbda"
    Hamming Distance: 1 - "b" vs. "d" is the only difference.
    Create a function that computes the hamming distance between two strings.
    Examples:
    hamming_distance("abcde", "bcdef") ➞ 5
    hamming_distance("abcde", "abcde") ➞ 0
    hamming_distance("strong", "strung") ➞ 1

In [19]:
def hamming_distance(string1, string2):
    count = 0
    i = 0
    while i<len(string1):
        if string1[i]!=string2[i]:
            count = count+1
        i = i+1
    return count

In [20]:
hamming_distance("abcde", "bcdef")

5

In [21]:
hamming_distance("abcde", "abcde")

0

In [22]:
hamming_distance("strong", "strung")

1