### 1.Create a function that takes an integer and returns a list from 1 to the given number, where:
    1.If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the number).
    2.If the number cannot be divided evenly by 4, simply return the number.

    Examples:
    amplify(4) ➞ [1, 2, 3, 40]
    amplify(3) ➞ [1, 2, 3]
    amplify(25) ➞ [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200, 21, 22, 23, 240, 25]

    Notes:
    1.The given integer will always be equal to or greater than 1.
    2.Include the number (see example above).
    3.To perform this problem with its intended purpose, try doing it with list

In [1]:
def amplify(n):
    return [i*10 if i%4==0 else i for i in range(1, n+1)]

In [2]:
amplify(4)

[1, 2, 3, 40]

In [3]:
amplify(3)

[1, 2, 3]

In [5]:
print(amplify(25))

[1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200, 21, 22, 23, 240, 25]

### 2.Create a function that takes a list of numbers and return the number that's unique.
    Examples:
    unique([3, 3, 3, 7, 3, 3]) ➞ 7
    unique([0, 0, 0.77, 0, 0]) ➞ 0.77
    unique([0, 1, 1, 1, 1, 1, 1, 1]) ➞ 0

    Notes:
    Test cases will always have exactly one unique number while all others are the same.

In [6]:
def unique(l):
    for i in list(set(l)):
        if l.count(i)==1:
            return i

In [7]:
unique([3, 3, 3, 7, 3, 3])

7

In [8]:
unique([0, 0, 0.77, 0, 0])

0.77

In [9]:
unique([0, 1, 1, 1, 1, 1, 1, 1])

0

### 3.Your task is to create a Circle constructor that creates a circle with a radius provided by an argument. The circles constructed must have two getters getArea() (PIr^2) and getPerimeter() (2PI*r) which give both respective areas and perimeter (circumference). For help with this class, I have provided you with a Rectangle constructor which you can use as a base example ?
    Examples:
    circy = Circle(11)
    circy.getArea()
##### Should return 380.132711084365 circy = Circle(4.44)
    circy.getPerimeter()
##### Should return 27.897342763877365

    Notes:
    Round results up to the nearest integer.

In [10]:
class Circle:
    def __init__(self,r):
        self.radius = r
    
    def getArea(self):
        return round(3.14*self.radius*self.radius)
    
    def getPerimeter(self):
        return round(2*3.14*self.radius)

In [11]:
circy = Circle(11)
circy.getArea()

380

In [12]:
circy = Circle(4.44)
circy.getPerimeter()

28

### 4.Create a function that takes a list of strings and return a list, sorted from shortest to longest.
    Examples:
    sort_by_length(["Google", "Apple", "Microsoft"])
    ➞ ["Apple", "Google", "Microsoft"]
    sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"])
    ➞ ["Raphael", "Leonardo", "Donatello", "Michelangelo"]
    sort_by_length(["Turing", "Einstein", "Jung"])
    ➞ ["Jung", "Turing", "Einstein"]

    Notes:
    All test cases contain lists with strings of different lengths, so you won't have to deal with multiple strings of the same 
    length.

In [14]:
def sort_by_length(l0):
    return (sorted(l0, key = len))

In [15]:
sort_by_length(["Google", "Apple", "Microsoft"])

['Apple', 'Google', 'Microsoft']

In [16]:
sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"])

['Raphael', 'Leonardo', 'Donatello', 'Michelangelo']

In [17]:
sort_by_length(["Turing", "Einstein", "Jung"])

['Jung', 'Turing', 'Einstein']

### 5.Create a function that validates whether three given integers form a Pythagorean triplet. The sum of the squares of the two smallest integers must equal the square of the largest number to be validated.
    Examples:
    is_triplet(3, 4, 5) ➞ True
        # 3² + 4² = 25
        # 5² = 25
    is_triplet(13, 5, 12) ➞ True
        # 5² + 12² = 169
        # 13² = 169
    is_triplet(1, 2, 3) ➞ False
        # 1² + 2² = 5
        # 3² = 9
    
    Notes: Numbers may not be given in a sorted order.

In [18]:
def is_triplet(*args):
    l = []
    l.extend((args))
    l = sorted(l)
    if l[0]**2 + l[1]**2 == l[2]**2:
        return True
    return False

In [19]:
is_triplet(3, 4, 5)

True

In [20]:
is_triplet(13, 5, 12)

True

In [21]:
is_triplet(1, 2, 3)

False