## 24th Feb Assignment
### Pandas Advance-1

```
Q1. List any five functions of the pandas library with execution.

Ans. Five commonly used functions in the pandas library along with their execution:

1. read_csv(): This function is used to read a CSV file and create a pandas DataFrame. Here's an example:
```
```python
import pandas as pd

# Read the CSV file
df = pd.read_csv('data.csv')

# Print the first five rows of the DataFrame
print(df.head())
```
```
2. info(): This function is used to get information about a DataFrame, such as the data types of each column and the number of non-null values. Here's an example:
```
```python
Copy code
# Print information about the DataFrame
df.info()
```
```
3. describe(): This function is used to get summary statistics for a DataFrame, such as the mean, standard deviation, and quartiles. Here's an example:
```
```python
# Print summary statistics for the DataFrame
df.describe()
```
```
4. groupby(): This function is used to group a DataFrame by one or more columns and perform calculations on each group. Here's an example:
```
```python
# Group the DataFrame by the 'category' column and calculate the mean of the 'value' column for each group
grouped_df = df.groupby('category')['value'].mean()
# Print the grouped DataFrame
print(grouped_df)
```
```
5. merge(): This function is used to merge two DataFrames based on one or more common columns. Here's an example:
```
```python
# Create two DataFrames
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'], 'value': [1, 2, 3, 4]})
df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'], 'value': [5, 6, 7, 8]})


# Merge the two DataFrames based on the 'key' column
merged_df = pd.merge(df1, df2, on='key')

# Print the merged DataFrame
print(merged_df)
```

---

```
Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.
 

Ans. 
```

In [1]:
import pandas as pd

def reindex_df(df):
    new_index = range(1, 2*len(df), 2)
    df = df.set_index(pd.Index(new_index))
    return df
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
print("Old Index \n",df)

df = reindex_df(df)
print("Re-Indexed \n",df)

Old Index
    A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
Re-Indexed
    A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

---

```
Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

Ans.
```

In [2]:
def sum_col(df):
    sum = 0
    for i in range(0,3):
        sum += df.iloc[i]
    print("Sum of first three numbers in Values Column is {}".format(sum.to_string(index=False)))
df1 = pd.DataFrame({'Values':[10, 20, 30, 40, 50]})
sum_col(df1)

Sum of first three numbers in Values Column is 60

---

```
Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

Ans.
```

In [3]:
def count_words(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df
df2 = pd.DataFrame({'Text': ['Hello world', 'Python is great', 'Data science']})
df2 = count_words(df2)
df2

              Text  Word_Count
0      Hello world           2
1  Python is great           3
2     Data science           2

---

```
Q5. How are DataFrame.size() and DataFrame.shape() different? 

Ans. DataFrame.size and DataFrame.shape are two different attributes of a Pandas DataFrame that provide different information about the DataFrame:

DataFrame.size: This attribute returns the total number of elements in the DataFrame, which is equal to the product of the number of rows and columns. For example, if a DataFrame has 3 rows and 4 columns, the size attribute will be 12. The size attribute returns an integer value.

DataFrame.shape: This attribute returns a tuple that contains the number of rows and columns in the DataFrame, respectively. For example, if a DataFrame has 3 rows and 4 columns, the shape attribute will be (3, 4). The shape attribute returns a tuple of integers.

In summary, DataFrame.size returns the total number of elements in the DataFrame, while DataFrame.shape returns a tuple containing the number of rows and columns in the DataFrame. It's important to note that DataFrame.size and DataFrame.shape can provide different information depending on the DataFrame's data type and dimensionality.
```

---

```
Q6. Which function of pandas do we use to read an excel file?

Ans. In pandas, we use the read_excel() function to read data from an Excel file. This function can read both .xlsx and .xls files.
```

---

```
Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

Ans. 
```

In [4]:
import pandas as pd

def extract_username(email):
    return email.split('@')[0]

def add_username_column(df):
    df['Username'] = df['Email'].apply(extract_username)

# Example usage
email_list = ['user1@gmail.com', 'user2@yahoo.com', 'user3@hotmail.com']
df1 = pd.DataFrame({'Email': email_list})
add_username_column(df1)
print(df1)

               Email Username
0    user1@gmail.com    user1
1    user2@yahoo.com    user2
2  user3@hotmail.com    user3

In [5]:
df1

               Email Username
0    user1@gmail.com    user1
1    user2@yahoo.com    user2
2  user3@hotmail.com    user3

---

```
Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

  A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2

Your function should select the following rows: A B C

1 8 2 7

4 9 1 2

The function should return a new DataFrame that contains only the selected rows.

Ans.
```

In [6]:
data = {'A' : [3,8,6,2,9], 'B' : [5,2,9,3,1], 'C' : [1,7,4,5,2]}
df = pd.DataFrame(data)
df

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [7]:
df[(df['A']>5) & (df['B']<10)]

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

---

```
Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

Ans. 
```

In [8]:
import pandas as pd

values_list = [5,10,15,20,25,25]

df1 = pd.DataFrame({'Values': values_list})

def mmm(df):
    mean = (df['Values'].mean())
    median = df['Values'].median()
    mode = df['Values'].mode()
    print("Mean of the Values Column is : {} ".format(mean))
    print("Median of the Values Column is : {} ".format(median))
    print("Mode of the Values Column is : {}".format(mode.values[0]))
mmm(df1)

Mean of the Values Column is : 16.666666666666668
Median of the Values Column is : 17.5
Mode of the Values Column is : 25

---

```
Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.  

Ans. 
```

In [9]:
import pandas as pd

# create a DataFrame with two columns
df = pd.DataFrame({'Sales': [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000],
                   'Date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05',
                            '2022-01-06', '2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10']})

def add_moving_average(df, window_size=7):
    # convert 'Date' column to datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    
    # create a rolling window of size 7 over the 'Sales' column and calculate the mean for each window
    df['MovingAverage'] = df['Sales'].rolling(window_size, min_periods=1).mean()
    
    return df

# call the function and print the updated DataFrame
df = add_moving_average(df)
print(df)

   Sales       Date  MovingAverage
0    100 2022-01-01          100.0
1    200 2022-01-02          150.0
2    300 2022-01-03          200.0
3    400 2022-01-04          250.0
4    500 2022-01-05          300.0
5    600 2022-01-06          350.0
6    700 2022-01-07          400.0
7    800 2022-01-08          500.0
8    900 2022-01-09          600.0
9   1000 2022-01-10          700.0

---

```
Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:

Date

0 2023-01-01

1 2023-01-02

2 2023-01-03

3 2023-01-04

4 2023-01-05

Your function should create the following DataFrame:

Date Weekday

0 2023-01-01 Sunday

1 2023-01-02 Monday

2 2023-01-03 Tuesday

3 2023-01-04 Wednesday

4 2023-01-05 Thursday

The function should return the modified DataFrame.  

Ans.
```

In [10]:
df = pd.DataFrame({'Date' : ['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']})
def weekday(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['Weekday'] = df['Date'].dt.day_name()
    return df

df = weekday(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

---

```
Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.  

Ans. 
```

In [11]:
date = pd.date_range('2023-01-01', '2023-02-28', freq='D')
df = pd.DataFrame({'Date' : date})

In [12]:
df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

---

```
Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?  

Ans. To use the basic functions of Pandas, the first and foremost necessary library that needs to be imported is pandas itself. The standard way to import Pandas is to use the following statement:

```
```python
import pandas as pd
```
```
This statement imports the Pandas library and assigns it the shorthand alias pd, which is the commonly used convention in the Python community. This allows us to refer to Pandas functions and objects using the prefix pd, e.g. pd.DataFrame(), pd.read_csv(), pd.Series(), etc.
```

---