## 25th Feb Assignment
### Pandas Advance - 2

---

```
Consider following code to answer further questions:
```
```python
import pandas as pd

course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]

duration = [2,3,6,4]

df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})
```

---

```
Q1. Write a code to print the data present in the second row of the dataframe, df.

Ans.
```

In [1]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration = [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [2]:
row2 = df.iloc[1:2]

In [3]:
row2

        course_name  duration
1  Machine Learning         3

---

```
Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Ans.
In Pandas, the loc and iloc functions are used to access data in a DataFrame, but they differ in how they handle indexing and slicing.

loc is primarily label-based indexing, which means it is used to access data based on the labels of rows and columns. It accepts label-based indexing and slicing, allowing you to specify row and column labels explicitly. For example:
```
```python
df.loc[row_label, column_label]
```
```
Here, row_label and column_label can be individual labels or label slices. loc includes the endpoint when slicing.

On the other hand, iloc is primarily integer-based indexing and is used to access data based on the integer positions of rows and columns. It accepts integer-based indexing and slicing, allowing you to specify row and column positions explicitly. For example:
```
```python
df.iloc[row_index, column_index]
```
```
Here, row_index and column_index can be individual integers or integer slices. iloc excludes the endpoint when slicing.

To summarize:

loc uses label-based indexing and allows you to access data using explicit row and column labels.
iloc uses integer-based indexing and allows you to access data using explicit row and column positions.
Here are a few examples to illustrate the difference:
```
```python
import pandas as pd

# Creating a sample DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data, index=['X', 'Y', 'Z'])

# Using loc to access data by labels
print(df.loc['X', 'B'])  # Output: 4

# Using iloc to access data by positions
print(df.iloc[0, 1])  # Output: 4

# Using loc to slice data by labels (inclusive)
print(df.loc['X':'Y', 'B'])  # Output: X    4\nY    5\nName: B, dtype: int64

# Using iloc to slice data by positions (exclusive)
print(df.iloc[0:2, 1])  # Output: X    4\nY    5\nName: B, dtype: int64
```
```
In the first example, df.loc['X', 'B'] and df.iloc[0, 1] both access the element at row 'X' and column 'B' (label-based and integer-based indexing respectively), resulting in the value 4.

In the second example, df.loc['X':'Y', 'B'] and df.iloc[0:2, 1] both slice the DataFrame and select the rows 'X' to 'Y' (inclusive) and column 'B', resulting in a Series with the values 4 and 5.

The key distinction is that loc uses label-based indexing, while iloc uses integer-based indexing. Choosing between them depends on whether you want to access data based on labels or positions.
```

---

```
Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.

Ans.
```

In [4]:
new_df = df.reindex(index = [3,0,1,2])

In [5]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [6]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [7]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

```
Observations:

new_df.loc[2] returns the row with label/index 2 in the DataFrame new_df. In this case, it retrieves the row with the label 2, which contains the course name 'Big Data' and duration 6.
new_df.iloc[2] returns the row at position/index 2 in the DataFrame new_df. In this case, it retrieves the row with the position 2, which contains the course name 'Data Science' and duration 2.
The difference between the outputs is due to the reindexing operation we performed on the DataFrame. By using reindex with the list [3, 0, 1, 2], we changed the order of the rows in the DataFrame. As a result, the labels/indices and positions of the rows are no longer the same.

new_df.loc[2] returns the row with the label/index 2 after reindexing, which corresponds to the row with the label/index 1 in the original DataFrame (df). On the other hand, new_df.iloc[2] returns the row at position/index 2 after reindexing, which corresponds to the row with the position/index 2 in the original DataFrame (df).

In summary, the difference in outputs is due to the use of label-based indexing (loc) and position-based indexing (iloc) on a DataFrame that has been reindexed, leading to different rows being selected based on their labels/indices or positions.
```


### Consider the below code to answer further questions

```python
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
```

In [8]:
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

---

```
Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

Ans.
```

```
(i)
```

In [9]:
column_means = df1.mean()
print(column_means)

column_1    0.254380
column_2    0.411611
column_3    0.481891
column_4    0.355141
column_5    0.444102
column_6    0.407694
dtype: float64

```
(ii)
```

In [10]:
stdev_col2 = df1['column_2'].std()
print("Standard Deviation of 'column_2' is",stdev_col2)

Standard Deviation of 'column_2' is 0.28398042865747775

---

```
Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.

If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

Ans.
```

In [11]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.381700  0.045585  0.657114  0.146812  0.399654  0.133615
2  0.505633  0.719842  0.347714  0.077191  0.527674  0.029500
3  0.201435  0.108628  0.200609  0.392315  0.940043  0.134593
4  0.054597  0.439653  0.571017  0.972995  0.588927  0.842994
5  0.016653  0.463300  0.179928  0.135073  0.079692  0.695632
6  0.366260  0.692655  0.934962  0.406461  0.128622  0.609830

In [12]:
df1.loc[2,'column_2']

0.7198422504863362

In [13]:
df1.loc[2,'column_2'] = "Hello"

In [14]:
mean_col2 = df1['column_2'].mean()
print("Mean of 'column_2' is",mean_col2)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

```
We are getting TypeError.

TypeError is a common error that occurs when an operation is performed with operands of incompatible types. It indicates that the operation cannot be executed because the data types involved do not support the specific operation.

For example, if we try to add a numeric value and a string value together, we would encounter a TypeError because the addition operation is not supported between those two data types.

In our case, we are trying to add in column with Float and String data types, thats why we are getting TypeError.
```

---

```
Q6. What do you understand about the windows function in pandas and list the types of windows functions?


Ans. In pandas, a window function, also known as a rolling or sliding window function, operates on a set of values within a specified window or range. It performs calculations on these subsets of data and returns a new series or dataframe with the results.

Window functions are useful for calculating rolling statistics, such as moving averages, cumulative sums, or other aggregations over a specific window size.

Pandas provides various types of window functions that can be used with the .rolling() method. Here are some commonly used window functions:

mean: Calculates the mean of values in the window.
sum: Calculates the sum of values in the window.
min: Returns the minimum value in the window.
max: Returns the maximum value in the window.
median: Calculates the median of values in the window.
std: Computes the standard deviation of values in the window.
var: Calculates the variance of values in the window.
count: Counts the number of non-null values in the window.
apply: Applies a custom function to the values in the window.

These window functions can be applied using the .rolling() method in pandas. For example, to calculate a rolling mean over a specific window size, you can use the following code:
```
```python
df['rolling_mean'] = df['column'].rolling(window=3).mean()
```
```
This code calculates the rolling mean of the 'column' values with a window size of 3 and stores the result in a new column called 'rolling_mean' in the DataFrame 'df'.

These are just a few examples of the types of window functions available in pandas. They provide flexible options for performing calculations on rolling windows of data to gain insights and analyze trends over time.
```

---

```
Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function] 

Ans.
```

In [15]:
from datetime import datetime

current_date = datetime.now()
current_month_year = current_date.strftime('%B %Y')

print(current_month_year)

May 2023

---

```
Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

Ans.
```

In [17]:
# Prompt the user to enter the dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert the input dates to Pandas DateTime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate the difference between the dates using Pandas Timedelta
time_difference = date2 - date1

# Extract the number of days, hours, and minutes from the time difference
days = time_difference.days
hours = time_difference.seconds // 3600
minutes = (time_difference.seconds // 60) % 60

# Display the result
print(f"The difference between the dates is: {days} days, {hours} hours, and {minutes} minutes.")

Enter the first date (YYYY-MM-DD):  2001-03-09
Enter the second date (YYYY-MM-DD):  2023-05-25

The difference between the dates is: 8112 days, 0 hours, and 0 minutes.

---

```
Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

Ans.
```

```python
# Prompt the user to enter the file path
file_path = input("Enter the CSV file path: ")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Prompt the user to enter the column name and category order
column_name = input("Enter the column name: ")
category_order = input("Enter the category order (comma-separated): ").split(",")

# Convert the specified column to a categorical data type
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

# Sort the DataFrame based on the categorical column
df_sorted = df.sort_values(column_name)

# Display the sorted data
print(df_sorted)
```

---

```
Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The  program should prompt the user to enter the file path and display the chart.


Ans.
```

```python
import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the CSV file path: ")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Group the data by product category and calculate the sum of sales for each category
grouped_data = df.groupby('Category')['Sales'].sum()

# Create a new DataFrame with the grouped data
df_stacked = pd.DataFrame(grouped_data)

# Plot the stacked bar chart
df_stacked.plot(kind='bar', stacked=True, figsize=(10, 6))
plt.xlabel('Product Category')
plt.ylabel('Sales')
plt.title('Sales by Product Category')
plt.legend(loc='upper right')

# Display the chart
plt.show()
```

---

```
Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write 
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and 
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.

Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:

Enter the file path of the CSV file containing the student data: student_data.csv

+-----------+--------+

| Statistic | Value  |

+-----------+--------+

| Mean      | 79.6   |

| Median    | 82     |

| Mode      | 85, 90 |

+-----------+--------+

Assume that the CSV file student_data.csv contains the following data:

Student ID,Test Score

1,85

2,90

3,80

4,75

5,85

6,82

7,78

8,85

9,90

10,85

The program should calculate the mean, median, and mode of the test scores and display the results 
in a table.

Ans.
```

```python
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_scores = df['Test Score'].mode().tolist()

# Create a table of the statistics
table = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'],
                      'Value': [mean_score, median_score, ', '.join(map(str, mode_scores))]})

# Display the table
print(table.to_string(index=False))
```

In [18]:

import pandas as pd

df = {
    'Student ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Test Score': [85, 90, 80, 75, 85, 82, 78, 85, 90, 85]
}

df = pd.DataFrame(df).set_index('Student ID')
# Calculate the mean, median, and mode of the test scores
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_scores = df['Test Score'].mode().tolist()

# Create a table of the statistics
table = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'],
                      'Value': [mean_score, median_score, ', '.join(map(str, mode_scores))]})
# Display the table
print(table.to_string(index=False))

Statistic Value
     Mean  83.5
   Median  85.0
     Mode    85

---